$rosa: pink;
$titulo: rgb(56, 54, 54);
$pastel: rgb(235, 213, 181);
$gris: rgb(207, 169, 169);
$borde: rgb(241, 239, 239);
$violeta: rgb(170, 93, 170);
$fondo-form: rgb(206, 206, 206);
$fondo: #F2F4F3;